.list {
    display: flex;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
    padding: 10px;
    border: 1px solid black;
    margin: 2px;
}

.list > .img {
    background-color: #333;
    color: #fff;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 24px bolder;
}

.list > h4 {
    font-size: 18px;
    font-weight: 500;
}

.detailsButton {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 10px;
    font: 16px bold;
}